
/*Calender border & label style*/
#nasa_section .MuiInputLabel-root {
  color: white !important;
}
#nasa_section .MuiInputBase-root {
  color: white !important;
}
#nasa_section .MuiSvgIcon-root {
  color: white!important;
}
#nasa_section fieldset {
  border-color: white !important;
}
/*Dark Mode themes*/
#lightmode .darktheme {
  color: rgb(56, 24, 0);
}
#darkmode .darktheme {
  color: white;
}
#darkmode .darkthemeSection {
  color: white;
}
#darkmode .darkthemebackground {
  background-color: rgb(255, 255, 255, .1);
}
